* {
  box-sizing: border-box;
  margin: 0px;
  /*padding-top: 25px;*/
  /*margin: 0px;*/
  /*padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;*/
  /*border: 1px solid black;*/
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 20px;
  /*height: 600px; */
}

.first-column {
    width: 30%;
    padding: 20px;
    /*height: 680px;*/
    height: 100vh;
    float: left;
    display: flex;
    align-items: center;
    /*background-color: #000000;*/
}

.second-column {
    width: 70%;
    padding: 80px;
    height: 100vh;
    float: right;
    align-items: center;
}

@media only screen and (max-width: 800px) {

   .first-column {
        width: 100%;
        /*padding-bottom: 10px;*/
        float: none;
    }

    .second-column {
        width: 100%;
        /*padding-bottom: 15px;*/
        float: none;
    }
    
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h2 {
  font-family: 'Open Sans', sans-serif; 
  font-style: normal;
  font-size: 4em;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 800;
  position: relative;
  padding-top: 5%;
  /*line-height: 1.5em;*/
}

h3 {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-size: 2em;
  text-align: center;
  color: #2F6690;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 800;
  padding: 16% 0 4% 0;
  /*line-height: 1.5em;*/
}

p {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1.8;
  color: #616569;
  /*letter-spacing: .03em;*/
  margin: 10px auto;
  font-size: 1.2em;
  /*padding: 16% 0 0 0;*/
  text-align: justify;
}

h4 {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: .02;
  color: #616569;
  margin: 0px;
  font-size: 1.2em;
}

img {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.intro {
  padding-bottom: 25%;
}

.contact-content {
  max-width: 960px;
  margin: 0 auto;
  /*padding: 5% 0;*/
}

.links {
  max-width: 960px;
  /*margin: 0 auto;*/
  /*padding: 5% 0;*/
}

.fa {
  padding: 18px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 30px 20px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook { 
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #CD486B;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-pinterest {
  background: #cb2027;
  color: white;
}
.fa-file-text-o {
  background: #800080;
  color: white;
}
.fa-github {
  background: #000000;
  color: white;
}
.fa-envelope {
  background: #A9A9A9;
  color: white;
}

a:link {
  text-decoration: none;
  font-weight: 400;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.contact {
    width: 100%;
    text-align: center;
    font-size: 1em;
    /*background-color: #C9A690;*/
}
